{{#if errors }}
    {{#each errors}}
        <p>
            {{this}}
        </p>
    {{/each}}
{{/if}}

{{#if infos }}
    {{#each infos}}
        <p>
            {{this}}
        </p>
    {{/each}}
{{/if}}
