<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        {{{ block 'css' }}}
    </head>
    <body>
        {{{body}}}

        {{{ block 'js' }}}
    </body>
</html>
